{% extends "base.html.twig" %}

{% block title %}
	Création de Projet
	{{ parent() }}
{% endblock %}

{% block body %}

	<section class="container mt-4">
		<div class="card p-3 w-75 mx-auto">
			<h1 class="text-center">Création d'un projet</h1>
			{% include "Backend/Projects/_form.html.twig" with {button_label: "Créer"} %}
		</div>
		<a href="{{ path('app.admin.projects.index') }}" class="btn btn-primary">Retour à la liste</a>

	</section>
{% endblock %}
