{% extends 'base.html.twig' %}

{% block title %}
	Projets
	{{ parent() }}
{% endblock %}

{% block body %}

	<section class="container mt-4">
		<h1 class="text-center">Les projets</h1>
		<div class="card-projet">
			<div class="header-projet"></div>
			<div class="info-projet">
				<p class="title-projet">How to make this material card ?</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
										molestiae quas vel sint commodi.
				</p>
			</div>
			<div class="footer-projet">
				<p class="tag">#HTML #CSS
				</p>
				<button type="button" class="action">Get started
				</button>
			</div>
		</div>
	</section>
{% endblock %}
