.project {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 0.75rem;
        background-color: white;
        width: 30%;
        height: auto;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    }

    .info {
        border: none;
        padding: 1.5rem;
        text-align: center;
    }

    .title {
        color: rgb(38 50 56);
        letter-spacing: 0;
        line-height: 1.375;
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
    }

    .footer {
        padding: 0.75rem;
        border: 1px solid rgb(236 239 241);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 140, 255, 0.082);
    }

    .tag {
        font-weight: 300;
        font-size: 0.75rem;
        display: block;
    }

    .action {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: none;
        outline: none;
        box-shadow: 0 4px 6px -1px rgba(33, 150, 243, 0.4), 0 2px 4px -2px rgba(33, 150, 243, 0.4);
        color: rgb(255 255 255);
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.75rem;
        padding: 0.75rem 1.5rem;
        background-color: rgb(33 150 243);
        border-radius: 0.5rem;
    }
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .sidebar {
        flex: 0 0 30%;
        display: block;
        position: sticky;
        top: 4.5rem;
        height: auto;
        overflow-y: scroll;
        box-shadow: 4px 1px 11px 3px $secondary;
        border-radius: $border-radius;
        margin-left: 1em;
        padding-left: 1em;

        .sidebar-content {
            .project-tag {
                .list-tag {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 1em 0.5em;

                    margin-top: 1em;

                    .tag {
                        background: $secondary;
                        padding: 5px 10px;
                        border-radius: $border-radius;
                        color: $white;
                        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    .project-content {
        flex: 0 0 65%;
    }
}
